/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #fdf2f4; /* rosa MUY claro */
    color: #1f2937;
    padding: 30px;
    text-align: center;
}

/* Título */
h1 {
    margin-bottom: 25px;
    color: #881337; /* vino elegante */
}

/* MENU */
.menu {
    margin-bottom: 25px;
}

.menu button {
    background: #fce7f3; /* rosa pastel claro */
    border: 1px solid #fbcfe8;
    padding: 10px 16px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    color: #9d174d;
    transition: 0.2s;
}

.menu button:hover {
    background: #fbcfe8;
}

/* SECCIONES */
.seccion {
    display: none;
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    max-width: 650px;
    margin: auto;
    border: 1px solid #f3e8ff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

/* Subtítulos */
h2 {
    margin-bottom: 15px;
    color: #9d174d;
}

/* Inputs */
input {
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid #e5e7eb;
    width: 220px;
}

input:focus {
    border-color: #f9a8d4;
    outline: none;
}

/* Botones internos */
.seccion button {
    background: #be185d; /* acento elegante */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 5px;
}

.seccion button:hover {
    background: #9d174d;
}

/* Contenido dinámico */
#posts div, #resultados div {
    background: #fff1f2;
    border: 1px solid #fce7f3;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
}

/* Mapa */
#map {
    height: 350px;
    margin-top: 10px;
    border-radius: 8px;
}

/* Video */
video {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    margin-top: 10px;
}

.social-buttons {
    margin-top: 15px;
}

/* BOTONES GENERALES */
.btn-social {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: white;
    transition: 0.2s;
}

/* COLORES POR RED */
.facebook {
    background-color: #1877f2;
}

.instagram {
    background-color: #e1306c;
}

.twitter {
    background-color: #1da1f2;
}

/* HOVER */
.btn-social:hover {
    opacity: 0.85;
}
